# MongoDB Connection
MONGO_URI=mongodb://localhost:27017/DinhTrongMobile

# Server Configuration
PORT=9999

# JWT & Security
JWT_KEY=your_jwt_secret_key_here
PASSWORD_KEY=your_password_key_here

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://EXAMPLE/api/users/google/callback

# Cloudinary (Image Upload)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

#VNP Code example
VNP_TMN_CODE=EXAMPLE
VNP_HASH_SECRET=EXAMPLE
VNP_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://EXAMPLE/api/vnpay/return
VNP_CLIENT_RETURN_URL=http://EXAMPLE/vnpay-return

#Payos
PAYOS_CLIENT_ID=EXAMPLE
PAYOS_API_KEY=EXAMPLE
PAYOS_CHECKSUM_KEY=EXAMPLE

#IP 
IP_ADDRESS=EXAMPLE